<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<nav class="navigation">
    <h1 class="navigation-title background-gradient"><a th:href="@{/dashboard}">CardFlex</a></h1>
    <button class="button navigation-button"><a th:href="@{/}">Sign out</a></button>
</nav>

<main class="dashboard">

    <div class="balance-row">
        <div>
            <h3 class="heading">Credit Cards</h3>
            <p class="balance-text">
                You currently manage <span th:text="${#lists.size(ownedCards)}" class="highlight-count">5</span>
                credit cards, with
                <span th:text="${#lists.size(availableCards)}" class="highlight-count">3</span>
                new opportunities available.
            </p>
        </div>
        <p class="balance-total">
            Total balance: <span th:text="${'£' + totalBalance}"></span>
        </p>
    </div>

    <div class="owned-cards" th:if="${!#lists.isEmpty(ownedCards)}">
        <h4 class="heading">Owned Cards</h4>

        <article class="card-row" th:each="card: ${ownedCards}">
            <div class="card" th:classappend=${card.getCardName()}>
                <p th:text="${card.getCardName()}"></p>
                <p> APR = <span th:text="${card.apr}"></span> % </p>
                <p> Balance = £<span th:text="${card.getBalance()}"> </span></p>
            </div>

            <div class="card-buttons">
                <button class="button card-button"><a th:href="@{/cardSummary/{cardId}(cardId=${card.getId()})}">View
                    Card Summary</a></button>

                <form th:action="@{/cards/{cardId}/delete(cardId=${card.id})}" method="post">
                    <button type="submit" class="button cancel-button">
                        Cancel card
                    </button>
                </form>

            </div>
        </article>
    </div>

    <div class="available-cards" th:if="${!#lists.isEmpty(availableCards)}">
        <h4 class="heading">Available Cards</h4>

        <article class="card-row" th:each="card: ${availableCards}">
            <div class="card" th:classappend=${card.name}>
                <p th:text="${card.name}"></p>
                <p> APR = <span th:text="${card.apr}"></span> % </p>
                <p> Credit Limit = £<span th:text="${card.creditLimit}"></span></p>
            </div>

            <form th:action="@{/apply/{cardName}(cardName=${card.name})}" method="post">
                <button class="button button-apply" type="submit">Apply</button>
            </form>

        </article>
    </div>

</main>
</body>

</html>


<style>


</style>