<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card Flex</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main class="hero">
    <div class="hero-logo background-gradient">
        <h1 class="logo">Card<span>Flex</span></h1>
    </div>

    <div class="hero-action">
        <h2 class="heading">Login</h2>
        <p>
            For secure access to your account, please provide your registered username:
        </p>
        <form class="hero-form" action="/" method="post">
            <p class="error" th:if="${error}" th:text="${error}"></p>
            <label class="hero-label" for="login">Username</label>
            <input class="hero-input" type="text" name="login" id="login" required>
            <button class="button hero-button" type="submit">submit</button>
        </form>
    </div>
</main>

</body>
</html>
