<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>  
<div class="header">
    <h1>Card<span>Flex</span> Login</h1>
</div>



<main>
<p>To use our platform, please type in your userame below:</p>
<div>
    <label for="login">Username</label>
    <input type="text" id="login">
</div>
</main>

</body>
</html>


<style>
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a:hover {
    text-decoration: underline;
    cursor: pointer;
}

span {
    font-weight: 700;
}


</style>
